@media only screen and (min-width : 320px) {
header .nathan-hamburger-hm-d{
  padding: 0 0px !important;
  margin-right: 20px;
  margin-top: 18px;
}
header .nathan-login-hm-d{
    padding: 15px 0px !important;
}

main .notice-mobile {
  padding-top: 0px;
  padding-right: 0px;
  position: relative;
  display: inline-block;
  width: 94%;
  margin-left: 10px;
  margin-bottom: 5%;
  margin-top: -3%;

}
footer .f-social ul.columns > li {
    list-style-type: none!;
    margin-left: 0px;
}
.nav>li>a {
  padding: 5px 15.5px !important;
}

.back {
  bottom: 40px;
  margin-right: -180px;
  right: 60%;
  position: fixed;
  cursor: pointer;
  display: none;

}
}

@media screen and (min-width : 321px) {

header .nathan-hm-d{
    padding: 15px 10px !important;
}
}

@media only screen and (min-width: 360px)
{
  .nav>li>a {
      padding: 5px 19px !important;
  }
  .back {
    bottom: 40px;
    margin-right: -180px;
    right: 50%;
    position: fixed;
    cursor: pointer;
    display: none;

  }
}

@media only screen and (min-width: 375px)
{
  main .notice-mobile {
    padding-top: 0px;
        padding-right: 0px;
        position: relative;
        display: inline-block;
        width: 95%;
        margin-left: 10px;
        margin-bottom: 5%;
        margin-top: -3%;
    }
  .nav>li>a {
      padding: 5px 21px !important;
  }
  .back {
    bottom: 40px;
    margin-right: -180px;
    right: 50%;
    position: fixed;
    cursor: pointer;
    display: none;

  }
}
@media only screen and (min-width: 412px)
{
  .nav>li>a {
      padding: 5px 11px !important;
  }
  .back {
    bottom: 40px;
    margin-right: -180px;
    right: 45%;
    position: fixed;
    cursor: pointer;
    display: none;

  }
}

@media only screen and (min-width: 414px)
{
  .nav>li>a {
      padding: 5px 25px !important;
  }
  .back {
    bottom: 40px;
    margin-right: -180px;
    right: 45%;
    position: fixed;
    cursor: pointer;
    display: none;

  }
}

@media only screen and (min-width: 480px)
{
  .nav>li>a {
      padding: 5px 11px !important;
  }
  .back {
    bottom: 40px;
    margin-right: -180px;
    right: 45%;
    position: fixed;
    cursor: pointer;
    display: none;

  }
}
