@media only screen and (min-width : 320px) {
header .nathan-hamburger-hm-d{
    padding: 15px 0px !important;
    margin-left: 10px;
}
header .nathan-login-hm-d{
    padding: 15px 0px !important;
}

footer .f-social ul.columns > li {
    list-style-type: none!;
    margin-left: 0px;
}
.nav>li>a {
    padding: 5px 7px !important;
}

.back {
    bottom: 124px;
    margin-right: -155px ;
    right: 50%;
    position: fixed;
    cursor: pointer;
    display: none;
}
}

@media screen and (min-width : 321px) {

header .nathan-hm-d{
    padding: 15px 10px !important;
}
}

@media only screen and (min-width: 360px)
{
  .nav>li>a {
      padding: 5px 10px !important;
  }
  .back {
      bottom: 124px;
      margin-right: -180px;
      right: 50%;
      position: fixed;
      cursor: pointer;
      display: none;
  }
}

@media only screen and (min-width: 375px)
{
  .nav>li>a {
      padding: 5px 11px !important;
  }
  .back {
      bottom: 124px;
      margin-right: -180px;
      right: 50%;
      position: fixed;
      cursor: pointer;
      display: none;
  }
}
@media only screen and (min-width: 412px)
{
  .nav>li>a {
      padding: 5px 11px !important;
  }
  .back {
      bottom: 124px;
      margin-right: -180px;
      right: 50%;
      position: fixed;
      cursor: pointer;
      display: none;
  }
}

@media only screen and (min-width: 414px)
{
  .nav>li>a {
      padding: 5px 15px !important;
  }
  .back {
      bottom: 124px;
      margin-right: -180px;
      right: 50%;
      position: fixed;
      cursor: pointer;
      display: none;
  }
}

@media only screen and (min-width: 480px)
{
  .nav>li>a {
      padding: 5px 11px !important;
  }
  .back {
      bottom: 124px;
      margin-right: -180px;
      right: 50%;
      position: fixed;
      cursor: pointer;
      display: none;
  }
}
