@media only screen and (min-width : 320px) {
header .nathan-hamburger-hm-d{
  padding: 0 0px !important;
  margin-right: 20px;
  margin-top: 18px;
}
header .nathan-login-hm-d{
    padding: 15px 0px !important;
}

main .notice-mobile {
  padding-top: 0px;
  padding-right: 0px;
  position: relative;
  display: inline-block;
  width: 92%;
  margin-left: 14px;
  margin-bottom: 5%;
  margin-top: 1%;
}
footer .f-social ul.columns > li {
    list-style-type: none!;
    margin-left: 0px;
}
.tab-panel-casino .nav>li>a {
    padding: 5px 35px !important;
}
.nav>li>a {
  padding: 5px 15px !important;
}

.back {
  bottom: 1px;
  margin-right: -180px;
  right: 60%;
  position: fixed;
  cursor: pointer;
  display: none;

}
}

@media screen and (min-width : 321px) {

header .nathan-hm-d{
    padding: 15px 10px !important;
}
}

@media only screen and (min-width: 360px)
{
  .nav>li>a {
      padding: 5px 19px !important;
  }
  .back {
    bottom: 1px;
    margin-right: -180px;
    right: 50%;
    position: fixed;
    cursor: pointer;
    display: none;
  }
  main .notice-mobile {
    margin-left: 14.5px;
  }
  .tab-panel-casino .nav>li>a {
    padding: 5px 45px !important;
  }
}

@media only screen and (min-width: 375px)
{
  main .notice-mobile {
    padding-top: 0px;
        padding-right: 0px;
        position: relative;
        display: inline-block;
        width: 94%;
        margin-left: 14px;
        margin-bottom: 5%;
        margin-top: 1%;
    }
  .nav>li>a {
      padding: 5px 20px !important;
  }
  .back {
    bottom: 1px;
    margin-right: -180px;
    right: 50%;
    position: fixed;
    cursor: pointer;
    display: none;
  }
  main .notice-mobile {
    padding-top: 0px;
    padding-right: 0px;
    position: relative;
    display: inline-block;
    width: 93%;
    margin-left: 13px;
    margin-bottom: 5%;
    margin-top: 1%;
}
.tab-panel-casino .nav>li>a {
    padding: 5px 50px !important;
}
}


@media only screen and (min-width: 412px)
{
  .tab-panel-casino .nav>li>a {
      padding: 5px 60px !important;
  }
  .nav>li>a {
      padding: 5px 11px !important;
  }
  .back {
    bottom: 1px;
    margin-right: -180px;
    right: 45%;
    position: fixed;
    cursor: pointer;
    display: none;

  }
}

@media only screen and (min-width: 414px)
{
  .tab-panel-casino .nav>li>a {
      padding: 5px 60px !important;
  }
  .nav>li>a {
      padding: 5px 24px !important;
  }
  .back {
    bottom: 1px;
    margin-right: -180px;
    right: 45%;
    position: fixed;
    cursor: pointer;
    display: none;

  }
}
@media only screen and (min-width: 480px)
{
  .nav>li>a {
      padding: 5px 11px !important;
  }
  .back {
    bottom: 1px;
    margin-right: -350px;
    right: 45%;
    position: fixed;
    cursor: pointer;
    display: none;
  }
  .scrolltotop{
    position: fixed;
        bottom: -4px;
        right: 61px;
  }
}
@media only screen and (max-width: 740px) {
  .nav>li>a {
      padding: 5px 20px !important;
  }
  .fsalon .col-md-3:nth-child(1) img{
    width: 25%;
  }

  .fsalon .col-md-3:nth-child(2) img{
    width: 30%;
  }

  .fsalon .col-md-3:nth-child(3) {
    margin-left: auto;
  }
}
