header{
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 60px;
  line-height: 60px;
  background: #1f1f1f !important
}
header .nav, header .logo, header .language{
  display: inline-block;
  vertical-align: middle
}
header .nav, header .language{
  width: 18%
}
header .navmenu-nav{
  width: 100%
}
header .logo{
  width: 60%;
}
header .logo .img{
  width: 70%;
  margin: 0px auto;
}
header .navbar-default, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: transparent
}
header .navbar-toggle{
  border: none;
  margin-right: 25px
}
.language .the-btn{
  display: block;
  margin-left: auto;
  margin-right: 15%;
  width: 45px;
  height: 25px;
  background: url('../img/flags/taiwan-nb.png') no-repeat;
  background-size: 25px 25px;
  background-position: left;
  position: relative;
  top: 2px
}
.language .the-btn .fa{
  color: #fff;
  position: relative;
  right: -30px;
  bottom: 16px;
}
#languageHc{
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: 55px;
  background: #333;
  border: solid 1px #4a4a4a;
  padding: 10px 20px 0
}
#languageHc::before{
  content: "";
  width: 20px;
  height: 10px;
  background: url('../img/triangle.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: -9px;
  right: 15px;
  z-index: 10
}
#languageHc ul li{
  float: left;
  width: 33.33333%;
  line-height: normal;
  margin: 15px 0
}
#languageHc ul li span{
  display: inline-block;
  vertical-align: middle;
  min-width: 40px
}
#languageHc ul li a{
  display: block;
  color: #fff;
  white-space: nowrap;
  font-size: 12px
}
.navbar-toggle .icon-bar {
  width: 25px;
  height: 4px;
}
.navmenu-default, .navbar-default .navbar-offcanvas{
  background-color: #2a2a2a;
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7)
}
.navmenu-nav li{
  display: block;
  float: none;
  line-height: normal;
}
.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a{
  color: #bebebe;
  border-left: 5px solid transparent
}
.navmenu-default .navmenu-nav>.active>a, .navbar-default .navbar-offcanvas .navmenu-nav>.active>a, .navmenu-default .navmenu-nav>.active>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover, .navmenu-default .navmenu-nav>.active>a:focus, .navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus{
  background-color: #000;
  color: #bebebe;
  border-left: 5px solid #fba601
}
main{
  padding: 10px 20px;
}
.tab-pane .title{
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  color: whitesmoke
}
.tab-pane .title::after{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #4c4c4c;
  position: relative;
  top: 0.5em
}
.tab-pane ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.tab-pane ul li{
  height: 40px;
  line-height: 40px;
  display: block;
  color: whitesmoke;
  font-size: 16px;
  letter-spacing: 1px
}
.cs-country{
  background: #f9f9f9
}
