/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
}

body {
    background: #2a2a2a;
    color: #acacac;
    overflow-x: hidden;
}

.navbar-inverse {
    background-color: #2a2a2a
}

header {
    background: url('../img/casino-bg.png');
    background-position-y: 1px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,1);
    position: relative;
    z-index: 99;
    margin-bottom: 2px;
}

header .top-header {
    padding: 0 5px;
    font-size: 12px;
    margin-bottom: 7px;
}

header .top-header ul li span {
    margin: 5px;
    font-size: 15px;
}

header .top-header ul li {
    padding: 2px;
}

header ul {
    list-style-type: none!important;
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    list-style-type: none!important;
}

header .logo {
    display: inline-block;
}

header .nav-lang {
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 3%;
}

header .contactus-m {
    padding: 10px 0;
}

.contactus-bg {
    /*background: #161616;*/
    background: #2a2a2a
}

header #gs-body {
    /*background: #161616;*/
    background: #2a2a2a;
    position: absolute;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid #5c5c5c;
    top: 140px
}

.m-selectpicker2-menu {
    background: #2a2a2a !important;
    border: solid 1px #2a2a2a !important
}

header .contactus h3 {
    margin: 10px 0;
}

header .contactus-m a {
    text-decoration: none;
    color: #fff;
}

.mobile-menu {
    overflow: hidden;
    text-align: center;
}

.btn-mobile {
    padding: 10px;
    background: #202020;
}

.btn-mobile:first-child {
    border-right: 1px solid #000;
}

.cta-seemore {
    position: absolute;
}

.btn-mobile a {
    color: #fba601;
}

header .bootstrap-select {
    margin-left: 10px!important;
    margin-top: 13px!important;
}

header .btn-default,
header .btn-default:hover,
header .btn-default:active {
    text-shadow: none!important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2A2A2A), to(#2A2A2A));
    background-image: linear-gradient(to bottom, #2A2A2A 0, #2A2A2A 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #2A2A2A;
    border-color: #2A2A2A;
    color: #fff;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    background-color: transparent;
}

header .navbar-cta-btn {
    margin: -6px -6px;
}

header .navbar-cta-btn a {
    display: inline-block;
    margin: 0px 13px;
    margin-top: 0px;
    margin-top: -5px;
}

/*header .hamburger {
    padding: 2px 10px!important;
}*/

header .btn {
    margin: 0 5px;
}

header .navbar-form {
    padding: 10px 0px!important;
}

header .navbar {
    margin-bottom: -1px;
}

header .cs-container {
    width: 40px;
    padding: 0px;
    margin-top: -7px;
}

.navbar-nav {
    margin: 0;
}

header .header-mobile {
    text-align: center;
}

header .header-mobile > .hm-d {
    padding: 15px 10px!important;
}

.main-section {
    margin-top: 20px
}

main .mobile-banner {
    text-align: center;
    margin: 0 auto;

}

.mobile-banner-wrapper {
    position: relative;
}

.mobile-banner-wrapper a {
    display: block;
    position: absolute;
    bottom: 37%;
    left: 0;
    right: 0;
}

.mobile-banner-wrapper a img {
    margin: 0px auto;
    max-width: 20%
}

main .carousel {
    background: #2A2A2A;
}

main .carousel img {
    max-height: 370px;
}

main .seo img {
    max-height: 800px!important;
}

main .other-banner img {
    max-height: 250px;
}

main .s36border {
    border-top: 1px solid #fba601;
    margin: 10px 0px;
}

.ws_pause {
    display: none;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    position: absolute;
    width: 40px;
    height: 4px;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    transition-property: -webkit-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    border-radius: 4px;
    background-color: #fbfbfb!important;
}



.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: inherit;
    background-color: transparent;
    border-color: transparent;
}

.jumbo {
    position: absolute;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    width: auto;
}

.jacpot-nus-mobile {
    margin-top: 5px;
}

main .jackpot .col-md-6 {
    padding: 0;
}

#demo-img {
    position: absolute;
    top: -3px;
    left: 5px;
    background-image: url('../img/jackpot/demo-img.png');
    width: 332px;
    height: 53px;
}

#demo-img:hover {
    position: absolute;
    top: -3px;
    left: 5px;
    background-image: url('../img/jackpot/demo-img-hover.png');
    width: 332px;
    height: 53px;
}

main .jackpot {
    overflow: hidden;
    margin-top: 10px;
    margin-left: 25px;
}

main .live-container {
    margin-top: 0;
    padding: 0px;
    /*margin-bottom: 10px;*/
}

.navbar-right {
    float: right !important;
    margin-right: 0;
}

.nav.navbar-nav.navbar-right.navbar-right li a {
    letter-spacing: 1px;
    padding: 5px 12px !important;
    font-weight: 400 !important;
    font-size: 14px;
    color: #fff
}

main .gp-g {
    position: relative;
    top: -5px;
}

main .gp-d {
    padding-top: 6px;
}

main .gp span {
    font-size: 14px;
    color: #fff;
}

main .content-title {
    /*border-bottom: 1px solid #fba601;*/
}

main .ws_images li {
    position: relative;
}

main .ws_image li a {
    position: absolute;
}

main .gp {
    color: #fba601;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 1px;
}

main .notice {
    2 padding-right: 3px;
}

main .borderstyle {
    margin: 20px 0px;
}

main .borderstyler {
    margin: 5px 0px;
    border-top: 1px solid #000;
}

.live-games img {
    margin-top: 5px;
    margin: 3px auto;
}

main .win-title {
    background: #161616;
    padding: 10px;
    color: #fba601;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #000;
    border-top: 1px solid #303030;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

main .notice {
    position: relative;
    display: inline-block;
}

main .jacpot-nus {
    position: relative;
    display: inline-block;
    padding-left: 2px;
}

main .marquee {
    color: #e7c017;
    overflow: hidden;
    position: absolute;
    left: 16%;
    cursor: pointer
}

main .winner {
    padding: 0;
    margin-bottom: 20px;
}

main .win-body {
    background: #161616;
    overflow: hidden;
    min-height: 258px;
}

main .win-lot {
    padding: 10.2px 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #303030;
    overflow: hidden;
}

main .win-cs {
    padding: 5px 0;
    overflow: hidden;
}

.win-body .user {
    color: #fff;
    font-weight: 700;
}

main .win-body span {
    color: #fba601;
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.prizepool {
    padding: 10px;
    font-weight: 700;
    color: #fff;
}

main .contact-title {
    background: #161616;
    padding: 11px;
    color: #fba601;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

main .contact-title:first-child {
    border-bottom: 1px solid #000;
}

main .contactus {
    border-top: 1px solid #303030;
    border-bottom: 2px solid #161616;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

main .c-icon {
    padding: 19.7px 7px;
    color: #d6d7dc;
    font-size: 54px;
    font-weight: 700;
}

main .c-text {
    line-height: 18px;
    margin: 15px 0px;
}

main .c-text span {
    color: #fba601;
    display: inline-block;
    font-weight: normal;
}


/*main .cmail{
  font-size: 40px;
}*/

main .live-game img {
    margin: 0 auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

main .ctmail {
    margin-top: 23px;
}

main .winner-cont {
    margin: 15px 0;
}

main .win-game img {
    max-width: 93%;
}

main .addbanner {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer .footer {
    background: #1b1b1b;
    color: #5e5e5e;
}

footer .footer-icon {
    margin-top: 30px;
}

.footer .f-social {
    list-style-type: none!important;
    padding: 0;
}

footer .footer-icon img {
    display: inline-block;
    cursor: pointer;
}

footer .footer-icon img:nth-child(1) {
    cursor: default;
}

footer .footer-services {
    list-style-type: disc;
    padding: 0;
}

footer .f-right .columns {
    padding-left: 0;
}

.currency-icon li {
    margin-left: 10px!important;
}

footer .f-right li {
    margin-left: 20px!important;
    line-height: 30px;
}

footer h4 {
    font-weight: 700;
    margin-top: 7px;
    margin-bottom: 7px;
}

footer .footer-services ul.columns>li {
    display: inline-block;
    margin-left: 15px;
}

footer .footer-services ul.currency-icon>li {
    display: inline-block;
    margin-left: 5px!important;
}

footer .footer-services ul.bank-icon>li {
    display: inline-block;
    margin-left: 6px !important;
    margin: 5px 0;
    margin-left: 0px;
}

.banner-overlay {
    position: absolute;
    top: 0;
    z-index: 3;
    right: 342px;
}

footer .footer-services ul.payment-icon>li {
    display: inline-block;
    margin-left: 7px!important;
}

footer .f-social ul.columns > li {
    list-style-type: none!;
}

footer .footer-services ul.columns>li:before {
    content: "";
    display: list-item;
    position: absolute;
}

footer .footer-services p {
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
}

footer .footer-gameprovider .gameprovider {
    padding: 2px 0;
}

footer .fsalon {
    border-top: 1px solid #343434;
    margin: 10px 0;
    padding-top: 10px;
    text-align: center;
}

#sagaming {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

#ssalon {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

#compat {
    text-decoration: none;
    color: inherit;
}

#sagaming img {
    display: inline-block;
}

#s36logo img {
    display: inline-block;
}

#compat img {
    display: inline-block;
    height: auto;
    margin: 0 2px;
}

#ssalon img {
    display: inline-block;
}

footer .copyright {
    background: #1b1b1b;
    color: #5e5e5e;
}

footer .copyright span {
    display: inline-block;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 6px;
    vertical-align: middle;
}

footer .fsalon h4 {
    display: inline-block;
}

div.border {
    border-top: 2px solid #000000;
    position: relative;
}

footer .copyright img {
    margin: 0 auto;
}

footer .footer-line {
    position: relative;
}

footer .footer-line:before {
    position: relative;
    /*position: absolute;*/
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer .footer-shareit img {
    margin-left: 0;
    margin-right: 0;
}

div.border {
    border-top: 2px solid #000000;
    position: relative;
}

div.border:before {
    position: absolute;
    display: block;
    content: '';
    border-top: 1px solid #5d5a5a;
    width: 100%;
}

.btn-group>.btn:first-child {
    margin-left: 0;
    background: #1f1f1f;
    border: 1px solid #4a4a4a;
}

.navbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

/*.navbar .nav-active,
.navbar-nav > li:hover {
    background: rgba(255, 255, 255, 0.1);
}*/

.navbar .nav-active a {
    color: #fba601!important;
}

.navbar .nav-active i {
    color: #fba601;
}

.navbar-inverse .navbar-nav > li > a:first-child {
    border-left: 0px solid #3c3c3c;
    height: 35px;
    line-height: 23px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fba601;
    font-size: 16px;
    border-right: 1px solid #000;
    border-left: 1px solid #3c3c3c;
    font-weight: 700;
    text-shadow: 2px 2px 0 rgb(0, 0, 0);
}

.navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
}

.breadcrumb {
    padding: 0px;
    background: #0A0A0A;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.breadcrumb-inner {
    overflow: hidden;
    /*background: #1b1a1a;*/
    margin-bottom: 15px;
}

.breadcrumb-content {
    padding: 0px;
}

.breadcrumb-inner .live-game {
    margin: 15px 0;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li.active a {
    background: #0A0A0A;
}

.breadcrumb li.completed a {
    background: #0A0A0A;
}

.breadcrumb li.active a:after {
    border-left: 30px solid #0A0A0A;
}

.breadcrumb li.completed a:after {
    border-left: 30px solid #0A0A0A;
}

.breadcrumb li a {
    color: #B6B6B6;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 700;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #0A0A0A;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #373737;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li:first-child a {
    padding-left: 15px;
}

.breadcrumb li a,
.breadcrumb li a:hover {
    background: #0A0A0A;
}

.breadcrumb li a:hover:after {
    /*border-left-color: #0A0A0A !important;*/
    border-left-color: #0A0A0A;
}

.breadcrumb-inner .border-right {
    border-right: 3px solid #2A2A2A;
}

.breadcrumb
