body {
    background: #121212;
    color: #fba601;
    font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
}
#wrapper {
  /*text-align: center;*/

}
a{
  color: #fba601 !important;
  text-decoration: none !important;
}
.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*width: 50%;*/
  /*height: 75%;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-color: #000;*/
  /*padding: 15px;*/
  /*background-image: url(http://localhost/landing-page/assets/img/bg/bg1.jpg);*/
  /*background-image: url(http://localhost/landing-page/assets/img/bg/bg2.jpg);*/
  /*background-image: url(http://localhost/landing-page/assets/img/bg/bg3.jpg);*/
  /*background-size: 100% 100%;*/
}
.center-div:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #00000085;
  /*display: inline-block;*/
  top: 0;
}
.line {
  background: #878787;
  width: 70%;
  height: 1px;
  display: inline-block;
}
.div {
  /*padding: 25px;*/
  /*margin-top: 10px;*/
  /*margin-bottom: -15px;*/
}
.div.logo {
  margin-top: 25px;
  margin-bottom: 20px;
  /*text-align: center;*/
  position: relative;
}
.logo img {
  width: 20%;
  margin: 15px;
}
.map {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 600px;
}
.list {
  text-align: center;
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
}
.list ul li img {
  width: 65%;
  /*padding: 10px;*/
}
.list ul li div {
  text-transform: uppercase;
}
.map {
  background-image: url(http://localhost/language-page/assets/img/map2.png);
  background-size: 100% 100%;
}
.map .overlay {
  background: #0000002b;
  width: 100%;
  height: 100%;
}
.list ul li {
  display: inline-block;
  width: 15%;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*.logo .sub {
  text-transform: uppercase;
  font-size: 18px;
}*/
.lang-top {
  text-align: center;
  position: relative;
  /*top: 5%;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
}
.lang h2 {
  text-transform: uppercase;
  font-size: 25px;
  margin: 0;
}
.lang h5 {
  margin: 0;
  font-size: 12px;
}
.lang li {
  display: inline;
}
.lang ul {
  margin-top: 30px;
  padding-left: 0;
}
.nav {
  position: absolute;
  /*bottom: 2%;*/
  right: 0;
  /*right: 0;*/
  top: 18%;
  text-align: center;
  width: 40%;
  float: right;
  width: 10%;
}
.nav ul {
  padding-left: 15px;
  padding-right: 15px;
}
.nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  height: 135px;
  width: 75%;
}
.nav li .content-nav {
  position: relative;
  top: 15%;
}
.nav li.border{
  border-bottom: 1px solid #1b1b1b;
  -webkit-box-shadow: 0 8px 20px -8px #353535;
	        box-shadow: 0 8px 20px -8px #353535;
}
.nav li img {
  width: 45%;
  padding-bottom: 15px;
  position: relative;
  top: 25%;
}
.column-md-12 {
  width: 100%;
  float: left;
}
.column-md-9 {
  width: 75%;
  float: left;
}
.column-md-3 {
  width: 25%;
  float: left;
}
.column-md-12 p {
  position: relative;
  /*bottom: 2%;*/
  width: 70%;
  /*left: 10%;*/
  font-size: 13px;
  margin: 0 auto;
  padding: 10px;
  text-transform: uppercase;
}
.socials {
  float: right;
  padding-right: 20px;
}
.socials ul {
  text-align: right;
}
.socials ul li {
  display: inline;
}
.socials ul li  a {
  text-decoration: none;
}
.socials ul li img {
  width: 2.5%;
  margin: 5px;
  opacity: 0.8;
}
/*Media Queries*/
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      margin: 0;
    }
    .center-div {
      height: 720px;
      background-size: cover;
      position: relative;
    }
    .nav {
      width: 100%;
      bottom: -40%;
      float: none;
      position: relative;
      top: 0;
    }
    .div.logo {
      text-align: center;
      margin-top: 0px;
    }
    .logo img {
      width: 50%;
    }
    /*.lang-top {
      text-align: center;
      position: relative;
      top: 0;
      padding-bottom: 20px;
    }*/
    .nav ul {
      padding-left: 5px;
      padding-right: 5px;
    }
    .nav li {
      font-size: 11px;
      padding: 5px;
      width: 20%;
      height: auto;
    }
    /*.lang ul {
      margin-top: 10px;
    }*/
    .list {
      top: 0%;
    }
    .list ul li div {
      display: grid;
    }
    .list ul li {
      font-size: 9px;
    }
    .list ul li img {
      width: 80% !important;
      /*margin: 5px;*/
      padding-bottom: 0px;
    }
    .socials {
      float: none;
      padding-left: 20px;
    }
    .socials ul {
      text-align: center;
      padding-left: 0px;
    }
    .socials ul li img {
      width: 8%;
    }
    .map {
      width: 95%;
      height: 200px;
    }
    .list ul li {
      width: 15%;
      margin-bottom: 5px;
    }
    .nav li img {
      padding-bottom: 0px;
      top: 0%;
    }
    .nav li p {
      font-size: 8px;
    }
    .column-md-12 p {
      font-size: 10px;
      width: 90%;
    }
    .lang h2 {
      font-size: 16px;
    }
    .lang h5 {
      font-size: 10px;
    }
  }

  /* Portrait and Landscape */
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
      body {
        margin: 0;
      }
      .center-div {
        height: 720px;
        background-size: cover;
        position: relative;
      }
      .nav {
        width: 100%;
        bottom: -40%;
        float: none;
        position: relative;
        top: 0;
      }
      .div.logo {
        text-align: center;
      }
      .logo img {
        width: 50%;
      }
      .lang-top {
        text-align: center;
        position: relative;
        top: 0;
        padding-bottom: 20px;
      }
      .nav ul {
        padding-left: 5px;
        padding-right: 5px;
      }
      .nav li {
        font-size: 11px;
        padding: 5px;
        width: 20%;
      }
      .lang ul {
        margin-top: 10px;
      }
      .list ul li img {
        width: 50%;
        /*margin: 5px;*/
        padding-bottom: 0px;
      }
    }

    /* Portrait and Landscape */
    @media only screen
      and (min-device-width: 414px)
      and (max-device-width: 737px)
      and (-webkit-min-device-pixel-ratio: 3) {
        body {
          margin: 0;
        }
        .center-div {
          height: 720px;
          background-size: cover;
          position: relative;
        }
        .nav {
          width: 100%;
          bottom: -40%;
          float: none;
          position: relative;
          top: 0;
        }
        .div.logo {
          text-align: center;
        }
        .logo img {
          width: 50%;
        }
        .lang-top {
          text-align: center;
          position: relative;
          top: 0;
          padding-bottom: 20px;
        }
        .nav ul {
          padding-left: 5px;
          padding-right: 5px;
        }
        .nav li {
          font-size: 11px;
          padding: 5px;
          width: 20%;
        }
        .lang ul {
          margin-top: 10px;
        }
        .list ul li img {
          width: 30%;
          /*margin: 5px;*/
          padding-bottom: 10px;
        }
      }

      /* Portrait and Landscape */
    @media only screen
      and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (-webkit-min-device-pixel-ratio: 2) {
        body {
          margin: 0;
        }
        .center-div {
          height: 900px;
          background-size: cover;
          position: relative;
        }
        .nav {
          width: 100%;
          bottom: -40%;
          float: none;
          position: relative;
          top: 0;
        }
        .div.logo {
          text-align: center;
        }
        .logo img {
          width: 50%;
        }
        .lang-top {
          text-align: center;
          position: relative;
          top: 0;
          padding-bottom: 20px;
        }
        .nav ul {
          padding-left: 5px;
          padding-right: 5px;
        }
        .nav li {
          font-size: 11px;
          padding: 5px;
          width: 20%;
        }
        .lang ul {
          margin-top: 10px;
        }
        .list ul li img {
          width: 25%;
          /*margin: 5px;*/
          padding-bottom: 10px;
        }
      }
      @media screen
      and (min-device-width: 1200px)
      and (max-device-width: 1600px)
      and (-webkit-min-device-pixel-ratio: 1) {}
