/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #2a2a2a;
    color: #acacac;
}

header ul {
    list-style-type: none!important;
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    list-style-type: none!important;
}

header .logo {
    display: inline-block;
}

header .nav-lang {
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 3%;
}
header .contactus-m{
  padding: 10px 0;
  width: 36%;


}
.contactus-bg{
  /*background: #161616;*/
  background: #2a2a2a
}
header #gs-body{
  /*background: #161616;*/
  background: #2a2a2a;
  position: absolute;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #5c5c5c;

}
header .contactus h3{
  margin:10px 0;
}

header .contactus-m a{
  text-decoration: none;
  color: #fff;
}

.mobile-menu {
    overflow: hidden;
    text-align: center;
}

.btn-mobile {
    padding: 10px;
    background: #202020;
}

.btn-mobile:first-child {
    border-right: 1px solid #000;
}

.cta-seemore {
    position: absolute;
}

.btn-mobile a {
    color: #FFB300;
}

header .bootstrap-select {
    margin-left: 10px!important;
    margin-top: 13px!important;
}

header .btn-default,
header .btn-default:hover,
header .btn-default:active {
    text-shadow: none!important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2A2A2A), to(#2A2A2A));
    background-image: linear-gradient(to bottom, #2A2A2A 0, #2A2A2A 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #2A2A2A;
    border-color: #2A2A2A;
    color: #fff;
    -webkit-box-shadow: none!important;
            box-shadow: none!important;
    background-color: transparent;
}

header .navbar-cta-btn {
    margin: 3px 5px;
}

header .navbar-cta-btn a {
    display: inline-block;
    margin: 0 5px;
}

header .hamburger {
    padding: 2px 10px!important;
}

header .btn {
    margin: 0 5px;
}

header .navbar-form {
    padding: 10px 0px!important;
}

header .navbar {
    margin-bottom: 0px;
}

header .cs-container {
    width: 40px;
    padding: 0px;
    margin-top: -7px;
}

.navbar-nav {
    margin: 0;
}

header .header-mobile {
    text-align: center;
}

header .header-mobile > .hm-d {
    padding: 15px 10px!important;
}

main .carousel {
    background: #2A2A2A;
}

main .carousel img {
    max-height: 370px;
}

main .seo img {
    max-height: 800px!important;
}

main .other-banner img {
    max-height: 250px;
}

main .s36border {
    border-top: 1px solid #ffb300;
    margin: 10px 0px;
}

.ws_pause {
    display: none;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    position: absolute;
    width: 40px;
    height: 4px;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .15s;
            transition-duration: .15s;
    transition-property: -webkit-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    border-radius: 4px;
    background-color: #a7a7a7!important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: inherit;
    background-color: transparent;
    border-color: transparent;
}

.jumbo {
    position: absolute;
    display: inline-block;
    color: #fff;
    left: 268px;
    top: 31px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 11.5px;
    width: auto;
}

.jacpot-nus-mobile{

}

main .jackpot .col-md-6 {
    padding: 0;
}

#demo-img {
    position: absolute;
    top: -3px;
    left: 5px;
    background-image: url('../img/jackpot/demo-img.png');
    width: 332px;
    height: 53px;
}

#demo-img:hover {
    position: absolute;
    top: -3px;
    left: 5px;
    background-image: url('../img/jackpot/demo-img-hover.png');
    width: 332px;
    height: 53px;
}

main .jackpot {
    overflow: hidden;
}

main .live-container {
    margin-top: 20px;
    padding: 0px;
}

.navbar-right {
    float: right !important;
    margin-right: 0;
}

.nav.navbar-nav.navbar-right.navbar-right li a{
  letter-spacing: 1.5px;
  padding: 5px 35px !important
}

main .gp-g {}

main .gp-d {
    padding-top: 6px;
}

main .gp span {
    font-size: 12px;
    color: #fff;
}

main .content-title {
    /*border-bottom: 1px solid #ffb300;*/
}

main .ws_images li {
    position: relative;
}

main .ws_image li a {
    position: absolute;
}

main .gp {
    padding: 0;
    color: #ffb300;
    font-weight: 700;
    font-size: 18px;
}

main .notice {
    padding-top: 20px;
    padding-right: 3px;
}

main .borderstyle {
    margin: 20px 0px;
}

main .borderstyler {
    margin: 5px 0px;
}

.gp .live-game img {
    max-width: 88%;
}

.live-games img {
    max-width: 100%;
    margin-top: 5px;
}

main .win-title {
    background: #161616;
    padding: 10px;
    color: #ffb300;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #000;
    border-top: 1px solid #303030;
}

main .notice {
    position: relative;
    display: inline-block;
}

main .jacpot-nus {
    position: relative;
    display: inline-block;
    padding-top: 20px;
    padding-left: 2px;
}

main .marquee {
    color: #e7c017;
    overflow: hidden;
    position: absolute;
    left: 13%;
    cursor: pointer
}

main .winner {
    padding: 0;
    margin-bottom: 20px;
}

main .win-body {
    background: #161616;
    overflow: hidden;
}

main .win-lot {
    padding: 10px 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #303030;
    overflow: hidden;
}

main .win-lot:last-child {
    border-top: 1px solid #303030;
    border-bottom: 1px solid #161616;
}

main .win-cs {
    padding: 5px 0;
    overflow: hidden;
}

main .win-body .user {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

main .win-body span {
    color: #ffb300;
    display: block;
    font-size: 14px;
    font-weight: 700;
}

main .prizepool {
    padding: 10px;
    font-weight: 700;
    color: #ffb300;
    font-size: 17px;
}

main .contact-title {
    background: #161616;
    padding: 10px;
    color: #ffb300;
    font-size: 18px;
    font-weight: 700;
}

main .contact-title:first-child {
    border-bottom: 1px solid #000;
}

main .contactus {
    border-top: 1px solid #303030;
    border-bottom: 2px solid #161616;
}

main .c-icon {
    padding: 21px 7px;
    color: #d6d7dc;
    font-size: 54px;
    font-weight: 700;
}

main .c-text {
    line-height: 18px;
    margin: 15px 0px;
}

main .c-text span {
    color: #ffb300;
    display: inline-block;
    font-weight: normal;
}


/*main .cmail{
  font-size: 40px;
}*/

main .live-game img {
    margin: 0 auto;
}

main .ctmail {
    margin-top: 23px;
}

main .winner-cont {
    margin: 15px 0;
}

main .win-game img {
    max-width: 93%;
}

main .addbanner {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer .footer {
    background: #1b1b1b;
    color: #5e5e5e;
}

footer .footer-icon {
    margin-top: 30px;
}

.footer .f-social {
    list-style-type: none!important;
    padding: 0;
}

footer .footer-icon img {
    display: inline-block;
    margin: 0px 10px 10px 10px;
    cursor: pointer;
}

footer .footer-services {
    list-style-type: disc;
    padding: 0;
}

footer .f-right .columns {
    padding-left: 0;
}

footer .f-right li {
    margin-left: 20px!important;
    line-height: 30px;
}

footer h4 {
    font-weight: 700;
}

footer .footer-services ul.columns>li {
    display: inline-block;
    margin-left: 15px;
}

footer .f-social ul.columns > li {
    list-style-type: none!;
}

footer .footer-services ul.columns>li:before {
    content: "";
    display: list-item;
    position: absolute;
}

footer .footer-services p {
    font-size: 14px;
    line-height: 30px;
}

footer .footer-gameprovider .gameprovider {
    padding: 5px;
}

footer .copyright {
    background: #1b1b1b;
    color: #5e5e5e;
    padding: 20px;
}

footer .copyright span {
    display: block;
    color: #5e5e5e;
    font-size: 17px;
    font-weight: 700;
    padding-top: 10px;
}

footer .fsalon h4 {
    display: inline-block;
}

footer .copyright img {
    margin: 0 auto;
}

footer .footer-line {
    position: relative;
}

footer .footer-pad {
    padding-left: 15px;
}

footer .footer-line:before {
    position: relative;
    /*position: absolute;*/
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer .footer-shareit img {
    margin-left: 0;
    margin-right: 0;
}

div.border {
    border-top: 2px solid #000000;
    position: relative;
}

div.border:before {
    position: absolute;
    display: block;
    content: '';
    border-top: 1px solid #5d5a5a;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.btn-group>.btn:first-child {
    margin-left: 0;
    background: #1f1f1f;
    border: 1px solid #4a4a4a;
}

.navbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar .nav-active,
.navbar-nav > li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.navbar .nav-active a {
    color: #ffb013!important;
}

.navbar .nav-active i {
    color: #ffb013;
}

.nav-bg {
    background: url('../img/bg-nav.png');
    background-repeat: repeat-x;
}

.navbar-inverse .navbar-nav > li > a:first-child {
    border-left: 0px solid #3c3c3c;
}


.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 12px;
    border-right: 1px solid #000;
    border-left: 1px solid #3c3c3c;
    font-weight: 700
}

.navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
}

.breadcrumb {
    padding: 0px;
    background: #0A0A0A;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.breadcrumb-inner {
    overflow: hidden;
    background: #1b1a1a;
    padding-bottom: 35px;
    margin-bottom: 15px;
}

.breadcrumb-content {
    padding: 0px;
}

.breadcrumb-inner .live-game {
    padding-top: 15px;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li.active a {
    background: #0A0A0A;
}

.breadcrumb li.completed a {
    background: #0A0A0A;
}

.breadcrumb li.active a:after {
    border-left: 30px solid #0A0A0A;
}

.breadcrumb li.completed a:after {
    border-left: 30px solid #0A0A0A;
}

.breadcrumb li a {
    color: #B6B6B6;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 700;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #0A0A0A;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #373737;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li:first-child a {
    padding-left: 15px;
}

.breadcrumb li a,
.breadcrumb li a:hover {
    background: #0A0A0A;
}

.breadcrumb li a:hover:after {
    border-left-color: #0A0A0A !important;
}

.breadcrumb-inner .border-right {
    border-right: 3px solid #2A2A2A;
}

.game-titl {
    color: #ffb300;
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
    border-bottom: 1px solid #ffb300;
}

.breadcrumb-inner .casino-g {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    position: relative;
}
.breadcrumb-inner .casino-g .content{
  position: absolute;
  bottom: 1px;
  width: 100%
}
.breadcrumb-inner .casino-g ul {
  list-style-type: none;
padding: 0 10px;
}
.breadcrumb-inner .casino-g ul li{
display: inline-block;
font-size: 19px;
}

.breadcrumb-inner .casino-g ul li span{
  color: #fff;
  font-weight: 700;
}

.breadcrumb-inner .sp-container{
padding: 20px 10px;
}
.breadcrumb-inner .sp-container .sp-title{
  color: #ffb013;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
}

.breadcrumb-inner .sp-container .sp-desc{
  color: #ffffff;
  line-height: 25px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-top: 5px;

}

.casino-g .content ul{
  position: relative;
}

.casino-g .content .cta-btn{
  color:inherit;
  border: 1px solid #fff;
  text-decoration: none;
}

.panel {
    margin-top: 20px;
    background-color: transparent;
}

.panel.with-nav-tabs .panel-heading {
    padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

.with-nav-tabs .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0 0;
    background: transparent;
    color: #fff;
    font-weight: 700;
    border: 1px solid #3c3c3c;
    padding: 5px 15px;
    border: 0;
}

.with-nav-tabs .nav-tabs > li.active > a,
.with-nav-tabs .nav-tabs > li.active > a:focus {
    color: #ffb013;
    cursor: default;
    font-weight: 700;
    background: transparent;
    border: 0;
}

.lib-panel {
    margin-bottom: 20Px;
}

.lib-panel img {
    width: 100%;
    background-color: transparent;
    border: 1px solid #606060;
    max-width: 165px;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: transparent;
}

.lib-panel .lib-row {
    padding: 4px 0 0 0;
}

.lib-panel .col-md-7 {
    padding: 0;
}

.lib-panel .lib-row.lib-header {
    background-color: transparent;
    font-size: 14px;
    padding: 5px 0 0 0;
    font-weight: 700;
}

.lib-readmore {
    margin: 5px 0;
}

.lib-readmore a {
    color: #ffb300;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
    color: #939393;
}

.lib-panel .lib-row.lib-desc a {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
}

.no-padding {
    padding: 5px;
}

.panel-login>.panel-heading {
    color: #00415d;
    text-align: center;
    overflow: hidden;
}

.panel-login .text-center {
    padding: 6px 0;
    margin-bottom: 0 !important;
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading .active {
    color: #fff!important;
    cursor: default;
    background: url('../img/yellow-btn.png');
    background-repeat: repeat-x;
}

.panel-login>.panel-heading .active a {
    color: #000!important;
    cursor: default;
}

.form-group .btn-warning {
    background: url('../img/yellow-btn.png');
    color: #000;
    font-weight: 700;
    margin: 10px 0;
}

.quick .tab {
    padding: 8px;
    background: rgb(16, 16, 16);
    color: #fff;
}

#register-form {
    padding: 0;
}

.panel-heading {
    padding: 0;
    border-bottom: 1px solid transparent;
    border-bottom-color: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.breadcrumb-content .panel-body {
    padding: 20px;
}

.panel-body .lotto-res {
    padding: 0;
}

.panel-login {
    font-family: "Microsoft Yahei";
}

.panel-login .panel-body {
    padding: 0 0px;
}

.panel-border {
    border-bottom: 1px solid #606060;
    border-top: 1px solid #000000;
}

.panel-login .form-pad {
    padding: 10px;
}

.panel-login .promo-txt {
    font-weight: 700;
    color: #ffb300;
    font-size: 24px;
    padding: 5px;
}

.panel-login .promo-desc {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 8px;
}

#demo-form .demo-tab {
  font-size: 15px;
  text-align: center;
  color: #ffb013;
  font-weight: 700;
  line-height: 27px;



}

.ig-demo input::-webkit-input-placeholder {
    color: grey!important;
}

.ig-demo input:-ms-input-placeholder {
    color: grey!important;
}

.ig-demo input::placeholder {
    color: grey!important;
}
.panel-login input::-webkit-input-placeholder {
    color: #ffb013;
}

.panel-login input:-ms-input-placeholder {
    color: #ffb013;
}

.panel-login input::placeholder {
    color: #ffb013;
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 30px;
    border: 0px solid #ddd;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    background: transparent;
    color: #ffffff;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #ccc;
}

.panel-login .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #adadad;
    text-align: center;
    background-color: #606060;
    border: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.panel-login .form-group {
    margin-bottom: 1px;
    margin-top: 5px;
}

.panel-login .captcha-img img {
    max-width: 85%;
}

.panel-login .form-inline .input-group[class*="col-"] {
    float: left;
    padding-right: 0;
    padding-left: 0;
}

.form-captcha {
    overflow: hidden;
    margin-bottom: 0;
}

.col-sm .panel .nav > li > a {
    position: relative;
    display: block;
    padding: 4px 15px;
}

.checkbox {
    text-align: center;
}

.checkbox label {
    font-size: 13px;
}

.checkbox label span {
    color: #ffb013;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

.lotto-header span {
    font-size: 35px;
}

.wrapper-l .ball {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 100%;
    float: left;
    background-color: rgb(61, 60, 58);
    margin: 2px;
    font-weight: 700;
    -webkit-box-shadow: 1px 1px 0.5px #000;
            box-shadow: 1px 1px 0.5px #000;
    cursor: pointer
}

.btn-generate a {
    color: #FFFFFF;
    line-height: 22px;
    padding: 10px 20px;
    background-color: #1e1e1e;
    max-width: 160px;
    border: solid 1px #383838;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
}

p {
    margin: 0 0 0;
}

#history {
    text-align: center;
    width: 460px;
    height: 420px;
    padding: 20px 0;
    border-radius: 20px;
    background-color: #90c5a9;
    float: left;
    margin-left: 50px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#history p {
    font-weight: 500;
    color: #3d3c3a;
}

.lotto-bg {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1e1e1e), color-stop(50%, #3f3f3f), to(#1e1e1e));
    background: linear-gradient(to bottom, #1e1e1e 0, #3f3f3f 50%, #1e1e1e 100%);
    padding: 78px 10px;
    margin-top: 20px;
    border-radius: 13px;
}

.remo-lotto-hover-wrapper {
    margin: 0;
}

.remo-lotto-hover-content {
    margin-top: 20px;
    margin-bottom: 20px;
    top: 30%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1e1e1e), color-stop(50%, #3f3f3f), to(#1e1e1e));
    background: linear-gradient(to bottom, #1e1e1e 0, #3f3f3f 50%, #1e1e1e 100%);
    padding: 20px;
    border-radius: 10px;
}

.remo-lotto-hover-content .row:nth-child(2) {
    border-top: solid 1px #c4c4c4;
    margin: 0;
    margin-top: 10px;
    padding-top: 5px
}

.remo-lotto-hover-content .row:nth-child(3) {
    margin-top: 20px;
}

.remo-balls-wrapper {
    padding-bottom: 7px;
    overflow: hidden;
}

.remo-balls-wrapper .ball {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 100%;
    float: left;
    background-color: rgb(61, 60, 58);
    margin: 2px 18px;
    font-weight: 700;
    -webkit-box-shadow: 1px 1px 0.5px #000;
            box-shadow: 1px 1px 0.5px #000;
    cursor: pointer;
}

.lotto-result {
    padding: 0 39px;
}

.remo-balls-wrapper span {
    float: left;
    width: 30px;
    text-align: center;
    padding-top: 7px;
}

.remo-lotto-hover-content-body {
    color: #fff1d3;
    margin-top: -4px
}

.ball-wrapper {
    float: left
}

.account-container a {
    margin: 0 10px!important;
}

.account-btn,
.account-btn:hover {
    background: #f1e767;
    background: -webkit-gradient(linear, left top, left bottom, from(#f1e767), to(#feb645));
    background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0);
    color: #000;
    padding: 2px 10px;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

.account .title {
    line-height: 45px;
    font-size: 16px;
    padding-left: 30px;
    font-weight: bold;
    height: 50px;
    background-image: url('../img/afterlogin/title.png');
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
}

.account-container .message {
    position: relative;
}



.wallet {
    padding: 10px;
    width: 100%;
    background: #5e5e5e;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    margin: 10px 0;
}

.wallet .form-group {
    margin: 0;
}

.wallet div {
    display: inline-block;
    padding: 0;
}

.wallet span {
    color: #ffb013;
}

.datepicker td,
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: none;
    color: #3c3c3c;
}

.wallet .bal {
    margin: 0 30px;
}

.wallet .bal div {
    padding: 0 5px;
}

.wallet .datepicker {
    color: #555;
    margin: 3px;
    padding: 5px 16px;
}

.display-block {
    display: block!important;
    padding: 5px 0!important;
}

.account-c {
    margin-bottom: 30px;
    padding: 15px;
}

.account-text {
    width: 70px;
}

.botton {
    width: 116px;
    height: 44px;
    background-image: url('../img/afterlogin/pt_btn.png');
    background-repeat: no-repeat;
    line-height: 42px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    overflow: hidden;
    margin: 10px 70px;
}

.btn-hidden {
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    width: 116px;
    height: 44px;
    line-height: 42px;
    background-color: transparent;
    border: none;
    color: #fff;
}

.acc-info .acc-lbl {
    display: inline-block;
    width: 100px;
}

.acc-info .acc-cont {
    display: block;
    padding: 3px;
}

.account-edit {
    overflow: hidden;
}

.acc-edit {
    padding: 8px 10px!important;
}

.acc-info h3 {
    font-weight: 700;
}

.acc-info .botton {
    margin: 10px 103px!important;
}

.acc-cont input {
    color: #555;
}

.helpcenter {
    background: #EEEEEE !important;
    color: #000;
}

.tabpanel .nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #f2f2f2;
    border-radius: 0!important;
    background-color: #aaaaaa !important;
}

.tabpanel .nav-pills>li>a {
    border-radius: 4px;
    color: #424242;
    position: relative;
    display: block;
    padding: 7px 20px;
    margin-top: 8px;
}

.tab-panel .nav-stacked > li + li {
    margin-top: 0!important;
    margin-left: 0;
}

.live-game .gameplatform {
    text-align: center;
    position: relative;
}

.live-game .gameplatform i {
    padding: 5px;
}

.tab-content .tab-pane h4 {
    color: #ffb013;
    font-weight: 700;
}

.sidebar-nav {
    background: #EEEEEE;
}

.sidebar-nav li {
    margin-top: 0!important;
    background: url('../img/helpcenter/menu_divider.png') no-repeat center bottom;
    padding-bottom: 1px;
}

.nav-pills li:hover:before,
.nav-pills li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    transition: width .2s ease-in;
}

.ballot-result .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #2e2e2e;
    color: #fff;
    font-weight: 700;
}

.ballot-result .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #818181;
    color: #fff;
    font-weight: 700;
}

.ballot-filter {
    background: #d2d2d2;
    padding: 10px;
    color: #333333;
    font-size: 12px;
}

.ballot-filter span {
    font-weight: 700;
}

.ballot-filter input[type=checkbox],
input[type=radio] {
    margin: 2px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

.ballot-result table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0;
}

.ballot-result table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 8px;
    line-height: 1.78;
    vertical-align: top;
    border-top: 0;
}

.ballot-filter label {
    margin: 0 20px;
}

.ballot-result td img {
    width: 25px;
    display: inline-block;
}

.tab-pane .tab-title {
    background: #ffb013;
    color: #000;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 17px;
}

.tab-pane .tab-info {
    background: #ffffff;
    color: #000;
    padding: 10px 25px;
    font-size: 12px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #4a4a4a;
}

.ballot-result th {
    text-align: center;
}

.ballot-result td {
    text-align: center;
}

.ballot-result thead tr {
    background: #222;
    color: #fff;
}

.ballot-result tbody > tr {
    background-color: #7e7e7e;
    color: #000;
}

#calendar {
    width: 267px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #555;
    -webkit-box-shadow: 0 0 50px -14px rgba(0, 0, 0, .8);
            box-shadow: 0 0 50px -14px rgba(0, 0, 0, .8);
}

#calendar h1 {
    background: #4f4f4f;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    font-size: 140%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    cursor: default;
    margin-bottom: 0px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

#calendar table {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-spacing: 0;
    border-radius: 0 0 5px 5px;
}

#calendar td {
    width: 38px;
    height: 38px;
    background: #eee;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 6px;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

#calendar td:hover:not(.current) {
    background: #ddd;
}

#calendar .lastmonth,
#calendar .nextmonth,
#calendar .nextmonth ~ * {
    background: #fff;
    color: #999;
}

#calendar .current {
    background: #4f4f4f;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#calendar .hastask {
    font-weight: 700;
}

#calendar tr:last-of-type td:first-of-type {
    border-radius: 0 0 0 5px;
}

#calendar tr:last-of-type td:last-of-type {
    border-radius: 0 0 5px 0;
}

#tab3 .lotto-desc {
    padding: 5px;
    font-weight: 700;
    color: #ffb013;
    font-size: 16px;
    margin-left: 20PX;
}

#tab3 .lotto-desc-p {
    padding: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    margin-left: 20PX;
}

.breadcrumb-inner .sel {
    margin-top: 15px;
}

.breadcrumb-inner .sel {
    margin-top: 25px;
}

.breadcrumb-inner .sela {
    margin-bottom: 15px;
    margin-top: 28px;
}

.breadcrumb-inner select {
    height: 40px;
    color: #c4c4c4;
    border: solid 1px #333;
    border-radius: 0;
    background: #333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAABGCAQAAADBG8qBAAAAkUlEQVR4Ae3O0QmEQBAE0Q3B0AzBYCcAM1qPzmCo4RCsLujvt7L960UTJUrUN1GiRIkSJUqUKFGiRIkSJaru2q2uWp1ybdQRFicxFGCFxFGMBUgA1WCFxFGMBUgA1WCFxFGMBUgA1WCFNI8irJDmUYQV0jyKsEKaRxHWCSgA9beJEiVKlChRokSJEiVKlChRoh4GlelzLr6YJwAAAABJRU5ErkJggg==);
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: 100% 10%;
    background-size: 15% 100%;
}

.breadcrumb-inner select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.breadcrumb-inner select option {
    color: #c4c4c4;
    background: #fff;
}

.cs-country {
    padding: 3px 0;
}

.cs-country .cs-head {
    overflow: hidden;
    border-bottom: 1px solid #cacaca;
    padding: 5px;
}

.cs-country:nth-child(odd) {
    background: #f9f9f9;
}

.cs-country .cs-flag {
    color: #1b283c;
}

.cs-country .cs-site {
    color: #8e8e8e;
}

.cs-country .cs-content {
    overflow: hidden;
    padding: 5px;
    color: #1b283c;
}

.cs-content .cta-cs {
    margin: 30px 0;
}

.cs-content .cta-cs a {
    background: #ffb013;
    padding: 5px 40px;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
}

.seo-carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: 0!important;
}


/* --- remo ---*/

.index-img-banner {
    width: 100%;
}

.tab-content .tab-pane {
    padding: 0 10px
}

.seo-body {
    background: #000;
}

.seo-media img {
    display: inline-block;
    margin: 0px 10px 30px 10px;
    width: 17%;
    text-align: center;
}

.tabs {
    width: 650px;
    float: none;
    list-style: none;
    position: relative;
    margin: 80px 0 0 10px;
}

.tabs li {
    float: left;
    display: block;
}

.tabs input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs label {
    display: block;
    padding: 14px 21px;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    background: #ccc;
    cursor: pointer;
    position: relative;
    top: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tabs [id^="tab"]:checked + p {
    color: black;
    -webkit-transition: all 2.2s ease-in-out;
    transition: all 2.2s ease-in-out;
}

.tabs label:hover {
    background: #fff;
}

.tabs .tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 53px;
    left: 0;
    background: #fff;
}

.tabs [id^="tab"]:checked + label {
    background: #fff;
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
}


/****** LOGIN MODAL ******/

.loginmodal-container {
    padding: 20px;
    max-width: 360px;
    width: 100% !important;
    background: url('../img/modal-bg.png');
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-weight: bold;
    color: #e3e3e3;
    border: 1px solid #404040;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: transparent;
    border: 0px solid #d9d9d9;
    border-bottom: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    -webkit-transition: opacity ease 0.5s;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}

.login-btn {
    text-align: center;
    margin-top: 50px;
}

.button {
    line-height: 55px;
    padding: 0 30px;
    background: #004a80;
    color: #fff;
    display: inline-block;
    font-family: roboto;
    text-decoration: none;
    font-size: 18px;
}

.modal-dialog {
    width: 600px;
    margin: 230px auto;
}

.seo-partners ul > li {
    list-style-type: none;
    display: inline-block;
    margin: 0 40px;
}

.no-bullet {
    list-style: none
}

.columns .list {
    width: 70px;
}

.columns .list-s {
    width: 87px;
}

.footer .sub {
    padding-left: 15px;
    height: 32px;
    background: url('../img/footer/subscribe2.png') no-repeat;
    background-size: auto auto;
    background-size: auto auto;
    background-size: auto auto;
    width: 238px;
    background-size: 237px;
    margin-left: 15px;
}

.footer .sub label {
    float: left;
    font-size: 12px;
}

.footer .sub input {
    height: 24px;
    line-height: 24px;
    width: 140px;
    border: none;
    margin: 4px;
    text-align: center;
    color: #393a3c;
}

.footer .sub a {
    line-height: 30px;
    margin: 7px;
    margin-left: 7px;
    margin-left: 7px;
    color: #724f09;
    text-decoration: none;
    font-size: 12px;
    margin-left: 40px;
}

.no-bullet {
    list-style-type: none;
}

.back a {
    text-decoration: none;
}

.btn-top {
    /*background: #ffb013;
    color: #fff;
    font-weight: 700;
    padding: 2px 10px;
    text-decoration: none;*/
    display: block;
    width: 40px;
    height: 40px;
    background: url('../img/scrollup-btn.png');
    background-size: cover
}

.lang-med {
    border-top: 1px solid #5b5b5b;
    padding-top: 20px;
}

header .nathan-hamburger-hm-d {
    margin-right: 20px;
}

.lang-c .col-xs-1 {
    width: 9.333%;
}

.lang-c .col-xs-2 {
    width: 12.667%;
}

.lang-c .lang-txt-head {
    font-size: 16px;
    margin: 10px 0;
}

.lang-c .col-xs-3 {
    width: 14% !important;
}

.content-title-live-games {
    margin-top: 10px;
}

.all-aboutus {
    background: #252525;
    overflow: hidden;
}

.lang-c .all-aboutus .col1 {
    width: 10%;
}

.lang-c .all-aboutus .col2 {
    width: 12%;
}

.all-aboutus .lang-txt-head a {
    text-decoration: none;
    color: #fff;
}

.all-aboutus .lang-txt-head a.active {
    border-bottom: 2px solid #ffb013;
    text-decoration: none;
    color: #fff;
}


.mobile-button{
  position: absolute;
  right: -1px;
  top: -4px;
  padding: 20px;

}

.mobile-button-bg{
  background: #161616;
}

.mobile-button .fa{
  color: #a7a7a7;
  font-size: 30px
}

#mobile-top-menu img{
  margin: 15px 0 0
}

#mobile-top-menu{
  background: #161616
}

.mobile-top-navbar{
  float: none !important;
  border-top: none;
  border-bottom: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mobile-top-navbar .account-container.shadow{
  padding-top: 10px;
  padding-bottom: -10px
}

.mobile-top-navbar .notif{
  top: 10px
}

.deposit-hold {
  padding:20px;
}

.columns .list a{
    color: #5e5e5e;
}

.columns .list a:hover{
    text-decoration: none
}

.deposit-hold > .deposit-col >.tab-content{
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;

}
.deposit-hold .tab-content SPAN.action{
  font-size: 15px;
  text-transform: uppercase;
  color: #c1aa88;
  float: left;
  margin: 0;
  font-weight: 700;
}
select.input-lg {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}

select + i.fa {
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  background-color: #fff;
  padding-right: 5px;

}


.notice-dialog .modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background-color: #1a1a1a;
    min-height: auto;
}

.notice-dialog  .close, .close:hover {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #FFF1D3;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}

.notice-dialog  .modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
    text-align: center;
}

.notice-dialog{
  margin-top: 100px;
  color: #fff
}

.marquee a{
  text-decoration: none;
  color: #fff;
  margin-left: 30px;

}


.notice-dialog td a{
  text-decoration: none;
  color: #fff;
}


.table-question .checkbox{
  text-align: left
}

.question-title{
  color: #ffb013
}

.panel-login input::-webkit-input-placeholder {
    color: grey!important;
}

.panel-login input:-ms-input-placeholder {
    color: grey!important;
}

.panel-login input::placeholder {
    color: grey!important;
}

/**************/
.live-game{
  position: relative;
}

.live-game-txt{
  position: absolute;
  bottom: 27%;
  right: 0;
  left: 0;
}

.live-game-txt span{
  display: block;
  text-align: center;
  color: #e8e34b;
  font-size: 27px;
  font-weight: 700;
  line-height: 27px;
}
.gs-border{
  border-top: solid 1px #363636;
  margin: 10px 0;
}
.live-game-txt span:nth-child(2){
  color: #e8e34b;
  font-size: 31px;
  line-height: 31px;
}

.live-game-title{
  position: absolute;
    color: #ffb300;
    font-weight: 700;
    top: 4%;
    left: 5%;
    font-size: 17.5px;
    line-height: 17.5px;
}

.mobile-top-hc{
  border-top: 1px solid rgba(48,48,48, 0.5);
  margin: 15px -5px 0;
  padding: 15px
}

.mobile-top-hc a{
  color: #7e7e7e;
  border: solid 1px rgba(125, 125, 125, 0.5);
  padding: 3px 8px;
  margin: 0 0 !important;
  display: inline-block;
}

.mobile-top-hc ul{
  display: inline-block;
}

.mobile-top-hc{
  text-align: center;
}

.mobile-top-hc img{
  margin-top: 0 !important;
  margin-right: 5px !important
}


.mobile-top-nav{
  border-top: solid 1px rgba(48, 48, 48, 0.5);
  padding-top: 0 !important;
  margin: 0 -5px
}

.desktop-support{
  position: absolute;
  right: 0;
  left: 0;
  top: 150%;
  z-index: 999;
  background: #1B1B1B;
  padding: 20px 0;
  letter-spacing: 1px
}

.desktop-support-title{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px
}

.desktop-support-number{

  color: #ffb013;
  font-size: 15px;
  font-weight: 700
}

.desktop-support-trigger{
  color: #FFF;
  position: relative;
  top: -15px;
}

.afterlogin-support-trigger{
  top: 3px;
}

.desktop-support-trigger:hover, .desktop-support-trigger:focus, .desktop-support-trigger:active{
  color: #FFF;
  text-decoration: none
}

.gp-first{
  margin-top: 10px
}

.lg-playnow{
  display: block;
  width: 100%;
  position: absolute;
  bottom: 16%;
  text-align: center;
  color: rgba(26, 26, 26, 0.8) !important;
  font-weight: 700;
  font-size: 17px;
}

.lg-playnow:active, .lg-playnow:hover, .lg-playnow:focus{
  text-decoration: none;
  color: rgba(26, 26, 26, 0.8) !important;
}

.lg-seemore{
  position: absolute;
  bottom: 45px;
  right: 25px;
}

.lg-seemore img{
  width: 20px
}

.mobile-top-menu-close{
  display: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #FFF1D3;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 1;
  position: relative;
  top: -29px;
  right: 15px;
}

.mobile-top-menu-close-toggle{
  display: block
}

.casino-g .content .fa{
  position: relative;
}

.casino-more-active{
  display: block !important;
}

.casino-seemore a{
  text-align: center;
  display: block;
  width: 100%;
  color: #c4c4c4;
  background: #333;
  border: solid 1px #777;
  padding: 5px 0;
  margin-top: 15px
}

.casino-seemore a:active, .casino-seemore a:hover, .casino-seemore a:focus{
  text-decoration: none;
}
