.r-ads img{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px
}

.r-banner-info-wrapper{
  padding: 10px 0 20px
}

.r-banner-info-wrapper div:nth-child(2){
  padding-top: 8%
}

#tab2 .lotto-desc {
  padding: 0;
  font-weight: 700;
  color: #ffb013;
  font-size: 11px;
  margin-left: 0;
  margin-bottom: 5px
}

#calendar{
  width: 100%;
}

#calendar table{
  width: 100%
}

#calendar td{
  padding: 0;
  height: 30px
}

#tab2 .lotto-desc-p {
    padding: 0px;
    margin-bottom: 10px;
    color: #ffffff;
    margin-left: 0;
    font-size: 11px;
}

.lotto-desc-wrapper{
  margin-top: 15%;
  margin-left: -3%;
}

#tab2 .checkbox-inline, .radio-inline{
  padding-left: 0;
}

.ballot-filter label {
  margin: 0;
}

.ballot-filter label{
  display: block;
  width: 100%
}

.ballot-filter label {
  margin: 5% 0;
  padding-left: 10%
}

.ballot-filter input[type=radio]{
  margin-left: -10%;
  margin-top: 3.5%
}

.selectid, .selectfromyear, .selectfrommonth{
  height: auto !important;
  padding: 5px;
}

.selectid{
  display: block;
  width: 50%;
  background-size: 25% 100% !important
}

.selectfromyear{
  width:35%;
  background-size: 35% 100% !important
}

.selectfrommonth{
  width: 35%;
  background-size: 35% 100% !important
}

.ballot-result th{
  font-size: 12px;
  white-space: nowrap;
}

.ballot-result td{
  font-size: 12px;
}

.ballot-result td img {
  width: 10px;
  display: inline-block;
}

.ballot-result td .fa.fa-plus{
  font-size: 7px;
}

.ballot-result-balls{
  width: 40%
}

.tab-pane .tab-info{
  font-size: 11.2px;
}
.
.sub-nav{
  margin: 0;
  padding: 0;
}

.sub-nav li{
  list-style: none;
  margin-left: -40px;
  padding-left: 40px
}

.sub-nav li a{
  display: block;
  color: #424242;
  padding: 7px 20px;
  margin-top: 8px;
  margin-left: -40px;
  padding-left: 40px;
}

.sub-nav li:first-child a{
  margin-top: 0;
}

.sub-nav li.active a{
  color: #f2f2f2;
  border-radius: 0!important;
  background-color: #aaaaaa !important;
  text-decoration: none
}

.sub-nav li a:focus, .sub-nav li a:hover{
  text-decoration: none;
  background-color: #eee
}

.all-games-div ul{
  margin: 0;
  padding: 0;
}

.all-games-div li{
  list-style: none;
  margin: 2px 0;
  padding-left: 20px;
  white-space: nowrap;
  background: url('../img/helpcenter/arrow-right.png') no-repeat;
  background-position: 0% 50%;
  background-size: 7% 40%
}

.all-games-div h3{
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
}

.all-games-div a{
  color: #c4c4c4
}

.all-games-div a:hover{
  text-decoration: none
}

.helpcenter-nav{
  padding: 10px 20px 20px;
}

.helpcenter-nav select{
  background: url('../img/helpcenter/caret_down.png') no-repeat;
  background-color: #DADFE1;
  background-position: 97% 50%;
  background-size: 5% 25%;
  color: #333;
  display: block;
  width: 100%;
  padding-left: 10px;
}

.helpcenter-tbl{
  color: #fafafa;
}

.helpcenter-tbl td{
  padding: 5px
}
.helpcenter-tbl{
color: #fafafa;
}

.helpcenter-tbl td{
padding: 5px
}

.titcc{
font-size: 16px;
font-weight: bold;
padding: 12px 0;
}

.tit001{
padding-bottom: 10px;
}

.tit001b{
padding-left: 35px;
}

.tit001 a{
color: #feb902;
margin-bottom: 15px;
}

.lh002{
padding-left: 45px;
padding-bottom: 5px
}

.tab24dl{
}

.tab26helpcenter .row{
margin-top: 30px
}

.tab26helpcenter h4{
color: #333 !important;
font-weight: 400
}

.tab26h4a{
margin-left: 23%
}

.tab26h4b{
margin-left: -20%
}

.tab26helpcenter img{
margin-top: 20px;
}

.dns03-wrapper img{
margin: 0px auto
}

.seo-tab-content .tab-pane{
  padding: 20px 14px;
}

.seo-tab-content .tab-pane p{
  margin: 5px 0;
}

.seo-container{
  padding: 20px 0;
}

.seo-container p{
  margin: 10px 0;
}

.remo-lotto-hover-wrapper{
  position: absolute;
  z-index: 9999;
  width: 450px;
  top: 6%;
  left: 41%;
}

.remo-balls-wrapper .ball {
     margin: 0;
}

.remo-lotto-hover-content {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, #1e1e1e 0, #3f3f3f 50%, #1e1e1e 100%);
    padding: 20px;
    border-radius: 10px;
}

.sitemap{
  background: #eee
}

.sitemap-box{

}

.sitemap-header{
  background: #ffb013
}

.sitemap-header p{
  color: #fff;
  font-size: 13px;
  padding: 10px 0;
  width: auto;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sitemap-header .fa-sitemap{
  background: #ffbd38;
  padding: 13px;
  margin: -10px 0;
  margin-left: 0px;
  font-size: 16px;
}

.sitemap-body{
  border: solid 1px #e5e5e5;
  border-top: none;
  padding: 15px 0px;
  margin-bottom: 20px;
  background: #ffffff;
}

.sitemap-body ul{
  color: #ffb013;
  margin: 0;
  padding: 0;
  padding-left: 35px;
  padding-right: 5px;

}

.sitemap-body ul li{
  padding: 0;
}

.sitemap-body ul li a{
  display: block;
  color: #5e5e5e;
  padding: 8px 0;
  padding-left: 5px
}

.sitemap-body ul li a:hover{
  text-decoration: none;
  background: #ccc
}
